.EnlargedCard {
  width: 900px;
  height: 560px;
  background: transparent;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 40px;
  top: 0;
  bottom: 0;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.95;
  z-index: 500;
  position: fixed;
  overflow: hidden;
  background-color: #000000;
  background-blend-mode: lighten;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.EnlargedCard-left {
  width: 60%;
  height: 100%;
  float: left;
  overflow: hidden;
  background: transparent;
}

.EnlargedCard-left img {
  width: 90%;
  height: 80%;
  margin: 10% 0 10% 0;
  border-radius: 10px;
  position: relative;
  background-size: cover;
}

.EnlargedCard-right {
  width: 40%;
  float: left;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.EnlargedCard-right-title {
  margin: auto;
  height: 30%;
  float: left;
}

.EnlargedCard-right-date {
  margin: 15% 0 0 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  float: left;
}

.EnlargedCard-right-more {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 25px;
  float: left;
  text-align: left;
  font-weight: 100;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  padding: 0;
  color: #ffda00;
  margin: 0;
}

h2 {
  margin: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
