#bg-pic {
  background-image: url('../../assets/images/bg2.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
}