.Post {
  display: inline-block;
  width: 30%;
  height: 200px;
  padding: 5px;
  background-color: white;
  margin: 45px 30px auto;
  align-content: center;
  box-sizing: border-box;
  cursor: pointer;
  overflow: auto;
}

.Post img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}